* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-image: url('/images/jungle.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Arial, sans-serif;
    padding: 20px;
    color: #333;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
    background: linear-gradient(90deg, red, orange, yellow, green, blue, indigo, violet);
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
}

header h1 {
    font-size: 6em;
    font-weight: bold;
    background: linear-gradient(90deg, red, orange, yellow, blue, indigo, violet, green);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

section {
    margin-bottom: 20px;
}

section h2 {
    font-size: 2em;
    color: #716add;
    margin-bottom: 10px;
}

table {
    margin: 0 auto;
    height: 500px;
    width: 500px;
}

td {
    border: 1px solid #000;
    height: 50px;
    width: 50px;
}

.frog {
    background: green;
}

.car {
    background: red;
}

td img {
    max-width: 100%;
    max-height: 100%;
}

#start-pause-button {
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    font-size: 2em;
    padding: 15px 30px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#start-pause-button:hover {
    background-color: #45a049;
}